<div class="navbar">
  <h1 class="titleHeading"><a routerLink="home">E-Kart</a></h1>
  <div  *ngIf="menuType== 'Default'" class="searchnav" >
    <input type="search" placeholder="Search Here">
    <button>Search</button>
  </div>
  <div [ngSwitch]="menuType">
   <ul *ngSwitchCase="'Default'">
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="seller">Seller</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Cart</a></li>
   </ul>
   <ul *ngSwitchCase="'seller'">
    <li><a routerLink="seller-auth"> Product List</a></li>
    <li><a routerLink="seller">Add Product</a></li>
    <li><a href="#" (click)="logout()">Logout</a></li>
    <li><a href="#">{{sellerName | titlecase}}</a></li>
   </ul>
  </div>
</div>

